$breakpoints: (
    "sm": 560px,
    "tab": 768px,
    "md": 900px,
    "md2": 1024px,
    "lg": 1200px,
    "xl": 1440px,
);
$primary-color: maroon;
$dark-color: #484848;

body {
    color: $dark-color;
    line-height: 1.4;
}

main {
    min-height: calc(100vh - 86px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: auto;
    max-width: calc(100vw - 40px);
}

@each $name, $size in $breakpoints {
    @media (min-width: $size) {
        .container {
            @if $size > 900px {
                max-width: $size - 80px;
            } @else {
                max-width: calc(100vw - 40px);
            }
        }
    }
}
